<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>活動</title>
    <header>活動</header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
      function getTdValue(obj){ 
        var x = $(obj).parent().parent().find("td");
        aid = x.eq(0).text(); //active name
        document.cookie = "AID="+aid;
        window.location.href = "see_student";
      };
    </script>
  </head>

  <body>
    <h3>新增活動</h3>
    <form method="POST" action="{{ url_for('activity_teacher') }}">
      <label>活動名稱:<input type="text" name="ActiveName"></label><br>
      <label>學分數:<input type="text" name="Credit"></label><br>
      <button type="submit">新增</button>
    </form>
    <h3>活動列表</h3>

    <table border="1">
      <tr>
        <th>活動名稱</th>
        <th>老師</th>
        <th>學分</th>
        <th>學生清單</th>
      </tr>
      {% for i in record %}
        <tr>
          <td>{{i['ActiveName']}}</td>
          <td>{{i['TNID']}}</td>
          <td>{{i['Credit']}}</td>
          <td><button type="submit" onclick="getTdValue(this)">檢視</button></td>
        </tr>
      {% endfor %}
    </table>

    <a href="home_page">返回</a>
  </body>
</html>