<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>集點卡</title>
    <header>集點卡</header>
  </head>

  <body>
    <h3>點數</h3>
    <label>{{nid}}: ${{money}}</label><br>
    <h3>歷史紀錄</h3>

    <table border="1">
      <tr>
        <th>日期</th>
        <th>課程名稱</th>
        <th>老師</th>
        <th>點數</th>
        <th>備註</th>
      </tr>
      {% for i in record %}
        <tr>
          <td>{{i['Data']}} </td>
          <td>{{i['ANID']}} </td>
          <td>{{i['TNID']}} </td>
          <td>{{i['Get']}} </td>
          <td>{{i['Reason']}} </td>
        </tr>
      {% endfor %}
    </table>
    
    <a href="home_page">返回</a>
  </body>
</html>